body{background-color: rgb(12, 12, 12);}
.first{background-color: rgb(12, 12, 12);
width: 230px;
height: 1000px;}
.logo{height: 50px;}
.home,.search{height: 20px;
margin-top: 3px;
margin-right: 28px;
margin-left: -53px;}
button{background-color:rgb(12, 12, 12);
    border: none;
width: 230px;
height: 30px;}
button:hover{background-color:rgb(52, 51, 51);}

.hometext,.searchtext,.libtext,.addtext,.liketext,.eptext{color: aliceblue;
font-size: 15px;
text-align: center;
}
.library,.add{height: 20px;
    margin-top: 3px;
    margin-right: 28px;
    margin-left: -23px;}
.like{height: 20px;
    margin-top: 3px;
    margin-right: 28px;
    margin-left: -37px;}
.episodes{height: 20px;
        margin-top: 3px;
        margin-right: 28px;
        margin-left: -26px;}
        
p{color: white;
margin-left: 30px;}
body>div{display: inline-block;}
#symbol{border-radius: 100px;
width: 25px;
height: 25px;
margin: 15px;}
span{color: white;}
.second{background-color: rgb(25, 24, 24);
width: 83.5%;
height: 100%;
display: inline-block;
vertical-align: top;
position: relative;
top: -8px;}
.second>button{height: 90px;
margin-left: 10px;
margin-bottom: 15px;
background-color: rgb(30, 29, 29);
transition: .15s;
border-radius: 5px;}
.second>button:hover{background-color: rgb(54, 52, 52);}
.gm,h2{color: azure;
font-family: arial;
margin-left: 10px;}
.images>button{width: 200px;
    height: 220px;
margin: 10px;
color: antiquewhite;}
.images>button>img{height:180px ;
width:180px;
border-radius: 5px;}
.third{position: sticky;
bottom: 0px;
left: 0px;
display: flex;
flex: 1;
background-color: rgb(25, 24, 24);
height: 100px;}
.player{width: 200px;
margin-left: 600px;}
.play{margin-left: 25px;}
.second>button>img{width:70px;
    vertical-align: middle;
margin-left: -50px;
height: 70px;}
.second>button>span{color: white;
text-align: center;
margin-left: 5px;}
#flex{display: flex;}
@media (max-width:700px)
{
    p,span,.hometext,.searchtext,.libtext,.addtext,.liketext,.eptext{color: orange;}
    button{background-color:brown;
    opacity: 0.5;}

    .second{background-color: rgb(25, 24, 24);
width: 40%;
height: 100%;
display: inline-block;
vertical-align: top;
position: relative;
top: -8px;}
.images>button>img{height:180px ;
    width:180px;
    border-radius: 5px;}
}